#game{ 

    .message-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 115px; 

        .victory{
            color: gold; 
        }
    }

    .game-buttons{
        
        display: flex;

        margin: 10px 0px;    
    }

    .start-button{
        cursor: pointer;
        filter: brightness(90%);
    }

    .start-button:hover{
        filter: brightness(110%);
    }


    .orb{
            height: 100px;
            width: 100px;
            box-sizing: border-box;

            margin: 0px 10px; 

            filter: brightness(50%);

    }

    .orb.enable{
        filter: brightness(95%)
    }

    .orb.enable:active{
        // border: 1px solid black;  
        // border-radius: 50%; 
        // background-color: black;
        
        filter:brightness(115%); 
    }

    .orb.enable:hover{
        filter: brightness(105%);
        cursor: pointer;
    }

    .fizzle{
        border-radius: 50%;
        width: 400px;
    }

    .summoning-circle{
        height: 400px;
        width: 400px;
        
        background-image: url("../../src/assets/circle.jpg");
        background-size: contain;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 30px; 
    }

    .rank-counter{
        font-size: 36px;
    }

    //Mobile values
    @media (max-width: 600px) {

        .message-box{
            min-height: 90px;
        }
        .summoning-circle, .start-button, .fizzle{
            height: 250px;
            width: 250px;
        }

        .start-button{
            filter: brightness(110%);
        }

        .summoning-circle{
            margin-top: 0px;
        }

        h1{
            font-size: 20px; 
        }

        h2{
            font-size: 18px;
        }

        h3{
            font-size: 16px;
        }

        .game-buttons{

            display: block;

            columns: 2;

            max-width: 90%;
        }

        .orb{
            width: 90px;
            height: 90px;
            filter: brightness(100%);
        }

        .elemental{
            width: 300px;
        }

        @media (min-height: 700px) {
            .orb{
                width: 100px;
                height: 100px;
            }
        }

        .rank-counter{
            font-size: 18px; 
        }

    }
}