#game{
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .game-buttons{
        
        display: flex;

        margin: 10px 0px; 

        
    }

    .orb{
            height: 100px;
            width: 100px;
            box-sizing: border-box;

            margin: 0px 10px; 

            filter: brightness(50%)
    }

    .orb.enable{
        filter: brightness(95%)
    }

    .orb.enable:active{
        // border: 1px solid black;  
        // border-radius: 50%; 
        // background-color: black;
        
        filter:brightness(115%); 
    }

    .orb.enable:hover{
        filter: brightness(105%);
        cursor: pointer;
    }

    .summoning-circle{
        min-height: 400px;
        min-width: 400px;
        
        background-image: url("../../src/assets/circle.jpg");
        background-size: contain;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}