@import "./reset.css";
@import "./game.scss";

@font-face {
  font-family: Immortal;
  src: url("../assets/IMMORTAL.ttf");
}

.App {
  font-family: Immortal, sans-serif;
  text-align: center;

  display: flex;

  background-image: url("../assets/background-mobile.jpg");
  background-size: cover; 

  height: 100vh;


}
